.container {
    display: flex;
}

.viewport {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid white;
    flex-grow: 1;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
}
.viewport::-webkit-scrollbar {
    display: none;
}
 .leftnav {
    margin: 2%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: relative !important;
    touch-action: manipulation !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background: rgb(255, 255, 255) !important;
 }

 .rightnav {
    margin: 2%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: relative !important;
    touch-action: manipulation !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background: rgb(255, 255, 255) !important;
 }

 .nav:focus {
     border: 1px solid grey;
 }

 .nav:hover{
     opacity: 1;
 }

 .heading {
    color: rgb(72, 72, 72);
    font-size: 2em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: 3% !important;
    padding: 0px !important;
    font-family: sans-serif;
 }


