.container {
    display: flex;
}

.viewport {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid white;
    flex-grow: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.viewport::-webkit-scrollbar {
    display: none;
}
 .leftnav {
    margin-top: 110px;
    margin-bottom: 0px;
    margin-left: 70px;
    margin-right: -70px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: relative !important;
    touch-action: manipulation !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background: rgb(255, 255, 255) !important;
 }

 .rightnav {
    margin-top: 110px;
    margin-bottom: 0px;
    margin-left: -65px;
    margin-right: 65px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important;
    line-height: 1 !important;
    position: relative !important;
    touch-action: manipulation !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background: rgb(255, 255, 255) !important;
 }

 .nav:focus {
     border: 1px solid grey;
 }

 .nav:hover{
     opacity: 1;
 }

 .heading {
    color: rgb(72, 72, 72);
    font-size: 2em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin-left:90px;
    padding: 0px !important;
    font-family: sans-serif;
 }

.footer{
    display:inline-flex;
    margin: 2%
}

.columnTitle{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 170px;
    margin-left:50px;
    word-wrap: break-word !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 800 !important;
}

.columnEntry {
    color: rgb(118, 118, 118);
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    cursor: pointer;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    word-wrap: break-word;
}

.columnEntry:hover{
    text-decoration: underline;
}

.imgstyle {
    margin-right: 50px;
}